$mimipink: #F4CAE0;
$maximumblue: #64a6bd;
$primary: #faeddf;
$richblack: #02040F;
$onyx: #32373B;
$deepspacesparkle: #4A5859;
$gray: #e4e3e5;

$shadow: 0 20px 20px rgba(154, 160, 185, 0.75), 0 15px 40px rgba(166, 173, 201, 0.2);

