h1 {
    font-family: 'Futura', sans-serif;
    font-size: calc(1vw + 2.5rem);
}

h2 {
    font-family: 'Futura', sans-serif;
    font-size: calc(1vw + 1.5rem);
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: calc(1vw + 0.5rem);
    line-height: 2rem;
}