@use '../../styles/colors.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(25vw + 20rem);
    background-color: colors.$primary;
    gap: 5%;
    text-align: right;

    h1 {
        margin: 0.5rem;
        margin-top: auto;
        animation: fadeIn 1s both;
        overflow: hidden;
    }

    h2 {
        margin: 0.5rem;
        animation: fadeIn 1s both;
        animation-delay: 0.75s;
        overflow: hidden;
    }
}

.links {
    img {
        height: calc(1vw + 1.25rem);
        margin: 1rem 0.5rem;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.portrait-container {
    animation: 1s fadeInDiv both;
    overflow: hidden;
    .portrait-background {
        height: calc(5vw + 10rem);
        width: calc(5vw + 10rem);
        background-color: colors.$richblack;
        border-radius: 50%;
        background-image: url('../../assets/portrait.svg');
        background-repeat: no-repeat;
        background-size: 90% 90%;
        background-position: 50% 200%;
        animation: 2s fadeInPortrait forwards;
    }
}


@keyframes fadeIn {
    0% {
        line-height: 0%;
    }
    100%{
        line-height: 100%;
    }
}

@keyframes fadeInDiv {
    0% {
        height: 0%;
    }
    100% {
        height: calc(5vw + 10rem);
    }
}

@keyframes fadeInPortrait {
    0% {
        background-position: 50% 5000%;
    }
    100% {
        background-position: 50% 200%;
    }
}
