.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-bottom: 5rem;


    h2 {
        margin-bottom: 3rem;
    }
}

.stack {
    img {
        height: calc(3vw + 3rem);
        margin: 0 2rem;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.animate {
    img {
     animation: bounce 0.75s ease-in-out;
    } 
}

@for $i from 1 through 5 {
    .animate a:nth-child(#{$i}) {
        img {
         animation-delay: #{$i * 0.1}s;
        }
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}